@media (min-width: 800px)
{
    .stacktable.large-only { display: table; }
    .stacktable.small-only { display: none; }

    .table-fixed thead {
      width: 97%
    }
    .table-fixed tbody {
      height: 300px;
      overflow-y: auto;
      width: 100%;
      outline: solid;
      outline-color: #0a8bb7;
      
    }
    .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
      display: block;
    }
    .table-fixed tbody td, .table-fixed thead > tr > th {
      float:none;
      width: 14.28%;
    }
}

